.container-list{
    height: 100%;
}

.all-tools{
    display: flex;
    align-items: normal;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    height: 90%;
}

.line{
    display: flex;
    align-items: center;
    margin:0.5rem  
}

.itens{
    border: 3px solid var(--gray-geiv);
    border-radius: 15px;
    width: 80%;
    padding: 0.5rem;
}

.selected{
    visibility: visible;
}

.notSelected{
    visibility: hidden;
}
