*{
    background-color: var(--red-geiv);
}

.container-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    border-bottom: 3px solid var(--gray-geiv);
}

.container-header ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.container-header ul li{
  margin-right: 20px;
  font-size: 1.6rem;
}

.container-header img{
    height: 4rem;
    
}

a{
    text-decoration: none;
  
}

