
.container-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    border-bottom: 3px solid var(--red-geiv);
    background-color: var(--gray-geiv);
}

.container-header img{
    height: 4rem;
    
}



