.container-navbar{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 3px solid var(--gray-geiv);
    padding: 10px;
    border-radius: 15px;
    }

.container-navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
}
.container-register{
    display: flex;
    flex-direction: column;
    align-self: start;
    padding: 2rem;
    border: 3px solid var(--gray-geiv);
    border-radius: 15px;
    height: 50%;
    width: 100%;
    margin-bottom: 2rem;
}

#calibravel{
    align-self: self-start;
}